node-red/flows.json
[
    {
        "id": "fba9ad2327681afb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb0df83850115fdb",
        "type": "mqtt-broker",
        "name": "broker HiveMQ",
        "broker": "hivemq",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "02c374b76fc670e6",
        "type": "mqtt out",
        "z": "fba9ad2327681afb",
        "name": "",
        "topic": "localizacion",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eb0df83850115fdb",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "0cb4d11503930bb5",
        "type": "mqtt in",
        "z": "fba9ad2327681afb",
        "name": "",
        "topic": "localizacion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "eb0df83850115fdb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "9b67db694ad3f73e"
            ]
        ]
    },
    {
        "id": "04417c66b0e8e612",
        "type": "inject",
        "z": "fba9ad2327681afb",
        "name": "D1- [Canada]",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"identificacion\": \"1\", \"location\": { \"lat\": 61.0666922,     \"lon\": -107.991707} }",
        "payloadType": "json",
        "x": 120,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9b67db694ad3f73e",
        "type": "debug",
        "z": "fba9ad2327681afb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 200,
        "wires": []
    },
    {
        "id": "261d1f024e34364f",
        "type": "inject",
        "z": "fba9ad2327681afb",
        "name": "D2-[España]",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "50",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"identificacion\": \"2\", \"location\": {     \"lat\": 39.3260685,     \"lon\": -4.8379791 } }",
        "payloadType": "json",
        "x": 120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cf639ca48088e264",
        "type": "inject",
        "z": "fba9ad2327681afb",
        "name": "D3-[Noruega]",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"identificacion\": \"3\", \"location\": {     \"lat\": 61.1529386,     \"lon\": 8.7876653  } }",
        "payloadType": "json",
        "x": 120,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c4033a7138bf766f",
        "type": "inject",
        "z": "fba9ad2327681afb",
        "name": "D4-[Francia]",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "35",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"identificacion\": \"4\", \"location\": {     \"lat\": 46.603354,    \"lon\": 1.8883335  } }",
        "payloadType": "json",
        "x": 120,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5fa2e6a44dfbb428",
        "type": "comment",
        "z": "fba9ad2327681afb",
        "name": "Nodos que simulan los dispositivos envían la localización a través de MQTT",
        "info": "Nodos que simulan los dispositivos envían la localización a través de MQTT",
        "x": 290,
        "y": 340,
        "wires": []
    },
    {
        "id": "566933d5b54d2f10",
        "type": "comment",
        "z": "fba9ad2327681afb",
        "name": "Publicación MQTT - topic: localizacion",
        "info": "",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "fb6c14d52f5d1b55",
        "type": "comment",
        "z": "fba9ad2327681afb",
        "name": "Subscripción a topic /localización (para debug)",
        "info": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "a90b2ed11e62b277",
        "type": "comment",
        "z": "fba9ad2327681afb",
        "name": "broker: hivemq:1883",
        "info": "",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "270f2d38a9ed7daf",
        "type": "inject",
        "z": "fba9ad2327681afb",
        "name": "D4-[Francia]",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "35",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"identificacion\":\"4\",\"location\":{\"lat\":-26.5847,\"lon\":90.4249}}",
        "payloadType": "json",
        "x": 140,
        "y": 460,
        "wires": [
            []
        ]
    }
]